.idea {
  border: 1px solid #eee;
  border-left: 5px solid;
  padding: 10px;
  border-radius: 0 5px 5px 0; }
  .idea .title {
    color: #333;
    margin: 5px 0;
    display: inline-block; }
  .idea .description {
    font-weight: 300;
    margin: 10px 0; }
    .idea .description strong {
      color: #333; }
  .idea .buttons {
    float: right;
    margin: 5px 0; }
    .idea .buttons i {
      color: #eee;
      cursor: pointer; }
      .idea .buttons i:hover {
        color: #ccc; }
      .idea .buttons i:active {
        color: #aaa; }
  .idea .category-footer {
    display: flex;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.1em; }
    .idea .category-footer .date {
      flex-grow: 1;
      color: #aaa;
      font-weight: 300; }

.idea:not(:last-child) {
  margin-bottom: 10px; }

.empty-msg {
  color: #777;
  font-weight: 300;
  margin-top: 20px;
  text-align: center; }
  .empty-msg span.cat {
    font-weight: 400; }

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: #ddd;
  cursor: pointer;
  transition: 0.3s transform ease;
  z-index: 999; }
  .menu-btn:hover {
    color: #aaa; }
  .menu-btn.active {
    transform: rotate(90deg); }

.settings-menu {
  height: 500px;
  width: 300px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #eee;
  border-radius: 5px;
  position: fixed;
  top: 10vh;
  height: 80vh;
  right: -300px;
  transition: 0.2s right ease; }
  .settings-menu.active {
    right: 10px; }
  @media (max-width: 500px) {
    .settings-menu {
      right: -90%; }
      .settings-menu.active {
        right: 5%;
        width: 90%; } }
  .settings-menu .settings-category .title {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    color: #333; }
    @media (max-width: 500px) {
      .settings-menu .settings-category .title {
        font-size: 1.2em; } }
  .settings-menu .settings-category .btn-container {
    text-align: center; }
    .settings-menu .settings-category .btn-container .new-category-btn {
      box-sizing: border-box;
      padding: 5px;
      height: 30px;
      width: 30px;
      background: #fff;
      color: #aaa;
      border: 1px solid #ddd;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      transition: 0.2s ease all;
      font-size: 0.8em; }
      .settings-menu .settings-category .btn-container .new-category-btn:hover {
        color: #fff;
        background-color: rgba(26, 188, 156, 0.8);
        border: 1px solid #fff; }
      .settings-menu .settings-category .btn-container .new-category-btn:active {
        background-color: #1ABC9C; }
      .settings-menu .settings-category .btn-container .new-category-btn i {
        line-height: 20px; }
      @media (max-width: 500px) {
        .settings-menu .settings-category .btn-container .new-category-btn {
          box-sizing: border-box;
          padding: 5px;
          height: 50px;
          width: 50px;
          background: #fff;
          color: #aaa;
          border: 1px solid #ddd;
          border-radius: 50%;
          outline: none;
          cursor: pointer;
          transition: 0.2s ease all;
          font-size: 1.3em; }
          .settings-menu .settings-category .btn-container .new-category-btn:hover {
            color: #fff;
            background-color: rgba(26, 188, 156, 0.8);
            border: 1px solid #fff; }
          .settings-menu .settings-category .btn-container .new-category-btn:active {
            background-color: #1ABC9C; }
          .settings-menu .settings-category .btn-container .new-category-btn i {
            line-height: 40px; } }
  .settings-menu .settings-category .category-list {
    list-style: none;
    margin: 0;
    padding: 10px; }
    .settings-menu .settings-category .category-list li {
      font-size: 0.9em;
      background-color: white;
      border: 1px solid #eee;
      border-radius: 0 5px 5px 0;
      padding: 5px;
      margin-bottom: 5px; }
    .settings-menu .settings-category .category-list .li-container {
      display: flex;
      align-items: center; }
      .settings-menu .settings-category .category-list .li-container .category-label {
        flex-grow: 1; }
    .settings-menu .settings-category .category-list .buttons i {
      font-size: 1em;
      color: #ddd;
      cursor: pointer;
      margin: 0 3px; }
      .settings-menu .settings-category .category-list .buttons i:hover {
        color: #ccc; }
      .settings-menu .settings-category .category-list .buttons i:active {
        color: #aaa; }
      @media (max-width: 500px) {
        .settings-menu .settings-category .category-list .buttons i {
          margin: 0 6px;
          font-size: 1.5em; } }

.colors {
  margin-top: 5px; }
  .colors input[type=radio] {
    display: none; }
    .colors input[type=radio]:checked + label::before {
      content: '';
      height: 6px;
      width: 6px;
      background: white;
      position: relative;
      border-radius: 50%;
      top: 7px;
      left: 7px;
      display: block; }
      @media (max-width: 500px) {
        .colors input[type=radio]:checked + label::before {
          height: 10px;
          width: 10px;
          top: 10px;
          left: 10px; } }
  .colors label {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer; }
    @media (max-width: 500px) {
      .colors label {
        height: 30px;
        width: 30px; } }

.idea-filter {
  margin-top: 10px; }
  .idea-filter .category .label {
    display: none; }
  .idea-filter .category input[type=radio] {
    display: none; }
    .idea-filter .category input[type=radio] + label {
      box-display: border-box;
      color: #999;
      cursor: pointer; }
    .idea-filter .category input[type=radio] + label:hover {
      color: #333; }
    .idea-filter .category input[type=radio]:checked + label {
      font-weight: 600; }
  .idea-filter .category label {
    margin: 0 5px;
    font-size: 0.7em;
    font-weight: 300;
    text-transform: uppercase; }
  .idea-filter .category .category-options {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse; }

.idea-edit {
  display: flex;
  flex-direction: column; }
  .idea-edit .top-section {
    display: flex; }
  .idea-edit .title-edit {
    flex-grow: 1;
    border-radius: 5px;
    color: #333;
    outline: 0;
    border: 1px solid #ddd;
    padding: 0.2em 0.4em;
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0; }
    .idea-edit .title-edit:focus {
      border: 1px solid #1eaedb; }
  .idea-edit .description-edit {
    border-radius: 5px;
    color: #333;
    outline: 0;
    border: 1px solid #ddd;
    padding: 0.2em 0.4em;
    padding: 0.4em 0.6em;
    font-weight: 300;
    font-size: 0.9em;
    display: block; }
    .idea-edit .description-edit:focus {
      border: 1px solid #1eaedb; }
  .idea-edit .category {
    margin-top: 5px; }
    .idea-edit .category input[type=radio] {
      display: none; }
      .idea-edit .category input[type=radio] + label {
        box-display: border-box;
        color: #999;
        cursor: pointer; }
      .idea-edit .category input[type=radio] + label:hover {
        color: #333; }
      .idea-edit .category input[type=radio]:checked + label {
        font-weight: 600; }
    .idea-edit .category .label {
      display: none; }
    .idea-edit .category label {
      font-size: 0.85em; }
    .idea-edit .category .category-options {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .idea-edit .category .category-options label {
        padding: 0 5px; }

body {
  font-family: 'Lato', sans-serif; }

.jar {
  width: 500px; }

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.create-btn {
  box-sizing: border-box;
  padding: 5px;
  height: 50px;
  width: 50px;
  background: #fff;
  color: #aaa;
  border: 1px solid #ddd;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease all;
  margin: 15px 0;
  font-size: 1.2em; }
  .create-btn:hover {
    color: #fff;
    background-color: rgba(26, 188, 156, 0.8);
    border: 1px solid #fff; }
  .create-btn:active {
    background-color: #1ABC9C; }
  .create-btn i {
    line-height: 20px; }

@media (max-width: 500px) {
  .jar {
    width: 100%; } }
