.idea-edit {
	display: flex;
	flex-direction: column;
	.top-section {
		display: flex;
	}
	.title-edit {
		flex-grow: 1;
		// border-radius: 5px;
		color: #333;
		font-size: 0.9em;
		font-weight: 600;
		margin: 5px 0;
		display: inline-block;
	}
	.description-edit {
		color: #333;
		display: block;
	}
	.category {
		@include label-only-radio();
		margin-top: 5px;
		.label { display: none; }
		label {
			font-size: 0.85em;
		}
		.category-options {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			label {
				padding: 0 5px;
			}
		}
	}
}