@mixin input-style() {
	border-radius: 5px;
	color: #333;
	outline: 0;
	border: 1px solid #ddd;
	padding: 0.2em 0.4em;
	&:focus {
		border: 1px solid #1eaedb;
	}
}

.idea-edit {
	display: flex;
	flex-direction: column;
	.top-section {
		display: flex;
	}
	.title-edit {
		flex-grow: 1;
		@include input-style();
		font-size: 1em;
		font-weight: 600;
		margin: 5px 0;
	}
	.description-edit {
		@include input-style();
		padding: 0.4em 0.6em;
		font-weight: 300;
		font-size: 0.9em;
		display: block;
	}
	.category {
		@include label-only-radio();
		margin-top: 5px;
		.label { display: none; }
		label {
			font-size: 0.85em;
		}
		.category-options {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			label {
				padding: 0 5px;
			}
		}
	}
}