.idea-filter {
	margin-top: 10px;
	.category {
		.label {
			display: none;
		}
		@include label-only-radio();
		label {
			margin: 0 5px;
			font-size: 0.7em;
			font-weight: 300;
			text-transform: uppercase;
		}
		.category-options {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap-reverse;
		}
	}
}