.idea-form{
	width: 300px;
	input, textarea, select {
		color: #333;
		margin-top: 2px;
		display: block;
		box-sizing: border-box;
		width: 100%;
		outline: none;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	.input-group {
		margin: 10px 0;
		span {
			font-size: 14px;
			font-weight: 300;
		}
	}
	.title input{
		height: 25px;
		font-size: 16px;
		padding: 2px 5px 2px 5px;
		&:focus {
			border: 1px solid #999;
		}
	}
	.category {
		@include label-only-radio();
		.category-options {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			label {
				padding: 2px 5px;
			}
		}
	}
}
.create-btn {
	@include circle-btn(#1ABC9C, 50px);
	margin: 15px 0;
	font-size: 1.2em;
	i {
		line-height: 20px;
	}
}
.submit-btn {
	@include circle-btn(#1ABC9C, 35px);
	font-size: 0.8em;
	i {
		line-height: 5px;
	}
}
.close-btn {
	@include circle-btn(#E74C3C, 35px);
	font-size: 0.8em;
	i {
		line-height: 5px;
	}
}
.btn-set {
	display: flex;
	justify-content: flex-end;
	button {
		margin: 0 3px;
	}
}
