@import 'mixins';
@import 'idea-form';
@import 'idea';
@import 'settings';
@import 'idea-filter';
@import 'idea-edit';
body {
	font-family: 'Lato', sans-serif;
}

.jar {
	width: 500px;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media(max-width: 500px) {
	.jar {
		width: 100%;
	}
}