@import 'mixins';
@import 'idea';
@import 'settings';
@import 'footer';
@import 'idea-filter';
@import 'idea-edit';

body {
	font-family: 'Lato', sans-serif;
}

.jar {
	width: 500px;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.create-btn {
	@include circle-btn(#1ABC9C, 50px);
	margin: 15px 0;
	font-size: 1.2em;
	i {
		line-height: 20px;
	}
}

@media(max-width: 500px) {
	.jar {
		width: 100%;
	}
}