.menu-btn {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 2em;
	color: #ddd;
	cursor: pointer;
	transition: 0.3s transform ease;
	&:hover {
		color: #aaa;
	}
	&.active {
		transform: rotate(90deg);
	}
}
.settings-menu {
	height: 500px;
	width: 300px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #eee;
	border-radius: 5px;
	position: fixed;
	top: 52px;
	right: -300px;
	transition: 0.2s right ease;
	&.active {
		right: 10px;
	}

	.settings-category {
		.title {
			text-align: center;
			font-weight: 300;
			text-transform: uppercase;
			color: #333;
		}
		.btn-container {
			text-align: center;
			.new-category-btn {
				@include circle-btn(#1ABC9C, 30px);
				font-size: 0.8em;
				i {
					line-height: 20px;
				}
			}
		}
		
		.category-list {
			list-style: none;
			margin: 0;
			padding: 10px;
			li {
				font-size: 0.9em;
				background-color: white;
				border: 1px solid #eee;
				border-radius: 0 5px 5px 0;
				padding: 5px;
				margin-bottom: 5px;
				.category-label {
					flex-grow: 1;
				}
			}
			.li-container {
				display: flex;
			}
			.buttons i{
				font-size: 1em;
				color: #ddd;
				cursor: pointer;
				margin: 0 3px;
				&:hover {
					color: #ccc;
				}
				&:active {
					color: #aaa;
				}
			}
		}
	}
}

.colors {
	margin-top: 5px;
	input[type=radio] {
		display: none;
		&:checked + label::before {
			content: '';
			height: 6px;
			width: 6px;
			background: white;
			position: relative;
			border-radius: 50%;
			top: 7px;
			left: 7px;
			display: block;
		}
	}
	label {
		display: inline-block;
		height: 20px;
		margin: 0 2px;
		border-radius: 50%;
		width: 20px;
		cursor: pointer;
	}
}