.menu-btn {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 2em;
	color: #ddd;
	cursor: pointer;
	transition: 0.3s transform ease;
	z-index: 999;
	&:hover {
		color: #aaa;
	}
	&.active {
		transform: rotate(90deg);
	}
}
.settings-menu {
	display: flex;
	flex-direction: column;
	height: 500px;
	width: 300px;
	overflow: auto;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #eee;
	border-radius: 5px;
	position: fixed;
	top: 10vh;
	height: 80vh;
	right: -300px;
	transition: 0.2s right ease;
	&.active {
		right: 10px;
	}
	@media(max-width: 500px) {
		right: -90%;
		&.active {
			right: 5%;
			width: 90%;
		}
	}

	.settings-category {
		flex: 1;
		.title {
			text-align: center;
			font-weight: 300;
			text-transform: uppercase;
			color: #333;
			@media(max-width: 500px) {
				font-size: 1.2em;
			}
		}
		.btn-container {
			text-align: center;
			.new-category-btn {
				@include circle-btn(#1ABC9C, 30px);
				font-size: 0.8em;
				i {
					line-height: 20px;
				}
				@media(max-width: 500px) {
					@include circle-btn(#1ABC9C, 50px);
					font-size: 1.3em;
					i {
						line-height: 40px;
					}
				}
			}
		}
		
		.category-list {
			list-style: none;
			margin: 0;
			padding: 10px;
			li {
				font-size: 0.9em;
				background-color: white;
				border: 1px solid #eee;
				border-radius: 0 5px 5px 0;
				padding: 5px;
				margin-bottom: 5px;
			}
			.li-container {
				display: flex;
				align-items: center;
				.category-label {
					flex-grow: 1;
				}
			}
			.buttons i{
				font-size: 1em;
				color: #ddd;
				cursor: pointer;
				margin: 0 3px;
				&:hover {
					color: #ccc;
				}
				&:active {
					color: #aaa;
				}
				@media(max-width: 500px) {
					margin: 0 6px;
					font-size: 1.5em;
				}
			}
		}
	}
}

.colors {
	margin-top: 5px;
	input[type=radio] {
		display: none;
		&:checked + label::before {
			content: '';
			height: 6px;
			width: 6px;
			background: white;
			position: relative;
			border-radius: 50%;
			top: 7px;
			left: 7px;
			display: block;
			@media(max-width: 500px) {
				height: 10px;
				width: 10px;
				top: 10px;
				left: 10px;
			}
		}
	}
	label {
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 2px;
		border-radius: 50%;
		cursor: pointer;
		@media(max-width: 500px) {
			height: 30px;
			width: 30px;
		}
	}
}
